ipython>=4.1.2
jupyter>=1.0.0
matplotlib>=1.5.1
numpy>=1.10.4
cufflinks
pandas>=0.17.1
seaborn>=0.7.0
dateparser>=0.7.0
sos>=0.18.6
bs4
sos-essentials
boto3
scipy
statsmodels
plotly
theano
tensorflow
sklearn
nltk